/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Universal Styles */
body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8eddf;
    color: #242423;
}

section {
    margin-top: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 1rem;
}

h3 {
    font-weight: 700;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 2%;
}

.text {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-align: justify;
}

/* Header */

header {
    display: flex;
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    background-color: #f5cb5c;
    padding: 0 1rem;
}

header h2 {
    margin: 0;
    padding: 0;
}

header nav {
    display: flex;
}

header ul {
    display: flex;
    padding: 1rem;
    list-style: none;
}

header li {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    transition: 0.5s ease-out;
    border-radius: 5%;
}

header li:hover {
    background-color: #e8eddf;
    cursor: pointer;
}


/* Main */

main {
    position: relative;
    top: 8rem;
    width: 100%;
}


/* About Us */

.about-us {
    display: flex;
    padding: 1rem;
}

.img-container {
    width: 40%;
}

.about-us-text {
    display: flex;
    width: 50%;
    padding: 1rem;
    padding-right: 4rem;
}

/* Services */

.services {
    display: flex;
    padding: 1rem;
    margin-top: 2rem;
    background-color: #cfdbd5;
    justify-content: space-between
}

.services-text {
    width: 50%;
}

/* Gallery */

.gallery {
    display: grid;
    margin-top: 2rem; 
    grid-template: 100px repeat(2, 1fr) / repeat(3, 1fr);
    gap: 1rem;
    padding-bottom: 2rem;
}

.gallery h2 {
    grid-area: 1 / 1 / 1 / 4;
    justify-self: center;
    align-self: center;
}

/* Contact */

.contact {
    display: grid;
    background-color: #cfdbd5;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-template-areas: "info directions"
                        "form map";
}

.info {
    grid-area: info;
    justify-self: center;
    align-self: center;
}

.info p {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: justify;
}

.directions {
    grid-area: directions;
    justify-self: center;
    align-self: center;
}


.directions h3 {
    font-size: 2rem;
}

.directions li {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    font-size: 1.5rem;
}

.form h3 {
    font-size: 2.2rem;
}

label {
    padding: 0.5rem 0;
}

input {
    width: 300px;
    padding: 0.5rem;
}

#message {
    height: 100px;
}

::placeholder {
    opacity: 0.5;
    text-align: left;
    vertical-align: top;
}

.map {
    grid-area: map;
    max-width: 100%;
    height: auto;
    border-radius: 5%;
    justify-self: center;
    align-self: center;
}

.social-media {
    display: flex;
    list-style: none;
    padding: 1rem;
}

/* Footer */

footer {
    display: flex;
    background-color: #333533;
    z-index: 7;
    color: #f5cb5c;
    padding: 1rem;
    text-align: center;
    justify-content: space-between;
}

footer ul {
    display: flex;
}

footer ul {
    list-style: none;
}

footer li {
    padding-left: 2rem;
}